// custom variables
$primary: #f49e13;
$light: #fbf5e5;

// import the functions $ variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altlight": #faf8f6,
    "altgold": #e4ae32
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

